{{ form_start(form) }}
<div class="container">
    <div class="alert alert-light " role="alert">
        <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Importante</h4>
        <ul class="pt-2">
            <li><p>Se enviará un correo a la profesora o profesor que te recomienda para solicitarle que nos proporcione tu carta de recomendación,
                    por lo que debes asegurarte de escribir correctamente su dirección de correo.</p></li>
            <li><p>Al finalizar el envío de este formulario debes de visualizar una pantalla de confirmación. Además, recibirás un correo
                    electrónico a la cuenta que proporcionaste, de no ser así favor de revisar tu carpeta de correos no deseados o comunicarte
                    al correo <mark>webmaster<i class="fa-solid fa-at"></i>matmor.unam.mx</mark> para asegurarte que hayamos recibido tu solicitud.</p></li>
        </ul>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-link"></i> Aviso de privacidad
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Aviso de Privacidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Aviso de Privacidad Simplificado del Centro de Ciencias Matemáticas de la UNAM.</h5>
                        <p class="mt-3">El Centro de Ciencias Matemáticas de la UNAM, es responsable del tratamiento de sus datos personales
                            para el registro de usted en calidad de alumno, docente, personal de la entidad académica,
                            conferencista o invitado externo (nacional o extranjero), visitante, proveedor o cliente de servicios universitarios.
                        </p>
                        <p>
                            Para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas
                            legalmente o por las autoridades competentes podrá transferir sus datos personales.
                            Podrá ejercer sus derechos ARCO en la Unidad de Transparencia de la UNAM, o a través de
                            la Plataforma Nacional de Transparencia:
                            <a href="https://www.plataformadetransparencia.org.mx/" target="_blank">
                                https://www.plataformadetransparencia.org.mx
                            </a>
                        </p>
                        <p>
                            El aviso de privacidad integral se puede consultar en la siguiente dirección web:
                            <a href="https://matmor.unam.mx/AvisoPrivacidad-CCM.pdf" target="_blank">
                                Aviso de Privacidad Integral del CCM
                            </a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="mb-0">
            <i class="fa-solid fa-calendar"></i> Fecha límite para realizar tu registro: <mark>3 de octubre de 2025</mark>.
        </p>
    </div>
    <p class="h4">Datos personales</p>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nombre, {
                label: 'Nombre',
                attr: {
                    placeholder: 'Nombre'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.paterno, {
                label: 'Apellido paterno',
                attr: {
                    placeholder: 'Apellido paterno'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.materno, {
                label: 'Apellido materno',
                attr: {
                    placeholder: 'Name'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <p class="text-secondary">La información del campo sexo es requerida con fines de la asignación de habitación ya que es compartida.</p>
        <div class="col col-md-4 col-sm-12  ">
            {{ form_row(form.sexo, {
                label: 'Sexo',
                attr: {
                    placeholder: 'Sexo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nacimiento, {
                label: 'Fecha de Nacimiento',
                attr: {
                    placeholder: 'Fecha de nacimiento'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.first, {
                label: 'Correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.second, {
                label: 'Confirma correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <hr>
    <p class="h4">Datos académicos</p>

    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.procedencia, {
                label: 'Universidad de procedencia',
                attr: {
                    placeholder: 'Universidad de Procedencia'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nivel, {
                label: 'Nivel actual',
                attr: {
                    placeholder: 'Nivel actual'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.carrera, {
                label: 'Carrera',
                attr: {
                    placeholder: 'Carrera'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.semestre, {
                label: 'Semestre o cuatrimestre',
                attr: {
                    placeholder: 'Semestre'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.porcentaje, {
                label: 'Porcentaje de avance (hasta agosto 2025)',
                attr: {
                    placeholder: 'Porcentaje de avance (hasta agosto 2025)'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.promedio, {
                label: 'Promedio',
                attr: {
                    placeholder: 'Promedio'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col-md-12 mt-3" >
            <p class="text-secondary">{{ form_label(form.caliFile) }}</p>
            <div class="col-md-6">{{ form_widget(form.caliFile) }}</div>
            <div class="col-md-6">{{ form_errors(form.caliFile) }}</div>
        </div>
    </div>
    <div class="row pt-2 ">

        <div class="col-md-12 mt-3" >
            <p class="text-secondary">En caso de ser alumno o alumna de la UNAM, adjuntar copia de tu credencial UNAM.
                En caso contrario haga caso omiso a este paso.</p>

            <div class="col-md-6">{{ form_widget(form.credencialFile) }}</div>
            <div class="col-md-6">{{ form_errors(form.credencialFile) }}</div>
        </div>
    </div>


    <div class="row pt-3">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.profesor, {
                label: 'Profesor(a) que recomienda su participación',
                attr: {
                    placeholder: 'Profesor(a) que recomienda su participación'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.univprofesor, {
                label: 'Universidad del profesor o profesora',
                attr: {
                    placeholder: 'Universidad del profesor'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.first, {
                label: 'Correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.second, {
                label: 'Confirma correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <hr>
    <p class="h4">{{ evento }}</p>

    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.beca, {
                label: 'Beca',
                attr: {
                    placeholder: 'Beca'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>

        <div class="col col-md-8 col-sm-8" id="div_registro_vegetariano">
            {{ form_row(form.restricciones, {
                label: 'Mencionar si tienes alguna restricción alimenticia',
                attr: {
                    placeholder: 'Mencionar si tienes alguna restricción alimenticia',
                },
                row_attr: {
                    class: 'form-floating',
                    id: 'registro_vegetariano',
                }
            }) }}
        </div>
    </div>

    <div class="row pt-2">
        <p class="text-secondary">De no ser posible ofrecerle apoyo en transporte, alimentación u hospedaje,
            ¿consideraría usted la posibilidad de asistir al evento por cuenta propia?</p>

        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.cuentap, {
                label: 'Asistir por cuenta propia',
                attr: {
                    placeholder: 'Asistir por cuenta propia'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>

    <div class="row mt-3">
        <p class="text-secondary">Como participante deberá <strong>traer su laptop</strong>, ya que la usarás en tus actividades prácticas.
            El <strong>Curso C1 será obligatorio para todos</strong>. Además, deberá elegir uno de los tres cursos opcionales. Ejemplo, puedes seguir los perfiles de investigación:
            <br>
            1. <strong>Epidemiología matemática</strong> (<strong>C2</strong> <em>Procesos de Markov a tiempo continuo</em>,
            <strong>C3</strong> <em>Estadística e Inferencia Bayesiana Aplicada al Análisis de Datos</em>,
            <strong>C4</strong> <em>Identificabilidad estructural y práctica de parámetros</em>)<br>
            2. <strong>Ecología/Biología</strong> (<strong>C5</strong> <em>Niveles biológicos de organización, biodiversidad y ecología de la conducta</em>,
            <strong>C6</strong> <em>Modelos booleanos para el estudio de procesos biológicos</em>,
            <strong>C7</strong> <em>Clustering y aprendizaje no supervisado en datos biológicos</em>)</p>

        <div class="col col-md-6">
            {{ form_row(form.curso1, {
                label: 'Seleccionar curso',
                attr: {
                    placeholder: 'Curso',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
        <div class="col col-md-6 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalC1">
                Consultar cursos
            </button>
        </div>
        <div class="col col-md-6">
            {{ form_row(form.curso2, {
                label: 'Seleccionar curso',
                attr: {
                    placeholder: 'Curso',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
        <div class="col col-md-6 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalC2">
                Consultar cursos
            </button>
        </div>
        <div class="col col-md-6">
            {{ form_row(form.curso3, {
                label: 'Seleccionar curso',
                attr: {
                    placeholder: 'Curso',
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
        <div class="col col-md-6 pt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalC3">
                Consultar cursos
            </button>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col col-md-12">
            {{ form_row(form.razones, {
                label: 'Razones y motivos por las que desea asisitir, mínimo 300 caracteres y máximo 2000 caracteres.',
                attr: {
                    placeholder: 'Razones y motivos por las que desa asistir',
                },
                row_attr: {
                    class: 'form-floating ',
                },
            }) }}
            <p id="demo"></p>
            <div style="margin-top: 0.25rem; text-align: right" id="counter">0</div>

        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-6">
            {{ form_row(form.poster, {
                label: '¿Estás interesado/a en presentar un póster de investigación durante la Escuela?',
                attr: {
                    placeholder: '¿Estás interesado/a en presentar un póster de investigación durante la Escuela?',

            },
                row_attr: {
                    class: 'form-floating ',
                },
            }) }}

        </div>
    </div>

    <div class="row pt-2">
        <div class="col col-md-12">
            {{ form_row(form.tituloposter, {
                label: 'Título tentativo del póster y una breve descripción,  mínimo 300 caracteres y máximo 1000 caracteres.',
                attr: {
                    placeholder: 'Título tentativo del póster ',
                },
                row_attr: {
                    class: 'form-floating ',
                },
            }) }}
            <p id="demo"></p>
            <div style="margin-top: 0.25rem; text-align: right" id="counter2">0</div>
        </div>
    </div>

    <hr>
    <p class="h4">Formación y conocimientos previos</p>
    <div class="row pt-2">
        <p class="text-secondary">Para cada tema, selecciona el nivel que mejor describe tu experiencia:</p>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.edo, {
                label: 'Ecuaciones Diferenciales Ordinarias (EDO)',
                attr: {
                    placeholder: 'Ecuaciones Diferenciales Ordinarias (EDO)'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.r, {
                label: 'Programación en R',
                attr: {
                    placeholder: 'Programación en R'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.python, {
                label: 'Programación en Python',
                attr: {
                    placeholder: 'Programación en Python'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.matlab, {
                label: 'Programación en Matlab',
                attr: {
                    placeholder: 'Programación en Matlab'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.estadistica, {
                label: 'Estadística y Probabilidad',
                attr: {
                    placeholder: 'Estadística y Probabilidad'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.inferencia, {
                label: 'Inferencia Bayesiana',
                attr: {
                    placeholder: 'Inferencia Bayesiana'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>


    <div class="d-grid gap-2 pt-3 mb-2 col-3 mx-auto">
        <button class="btn btn-dark"><h5> <i class="fa-regular fa-paper-plane"></i> {{ button_label|default('Enviar') }}</h5></button>
    </div>
</div>






<!-- Modal C1-->
<div class="modal fade" id="exampleModalC1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cursos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">C2: Procesos de Markov a tiempo continuo, <em class="h6 text-secondary">
                        Imelda Trejo Lorenzo, Centro de Ciencias Matemáticas, UNAM, MX</em></p>
                <p style="text-align: justify;">
                    En este curso corto se repasa brevemente la teoría de los procesos estocásticos de Markov a
                    tiempo continuo (PMTC) haciendo énfasis en las definiciones constructivas y en particular,
                    aprenderemos a simular un PMTC a partir de un proceso de Markov a tiempo discreto.
                    Estaremos interesados especialmente en los procesos de nacimiento y muerte. Después explicaremos el
                    algoritmo de Gillespie. Dado un conjunto de dos o más ecuaciones diferenciales ordinarias acopladas,
                    el algoritmo de Gillespie nos permite simular un conjunto de dos o más PMTC que son la versión
                    estocástica de nuestro sistema dinámico. Ilustraremos el algoritmo de Gillespie aplicándolo a la
                    simulación de los modelos básicos de brotes epidémicos. Finalmente, explicaremos la relación que
                    se da entre los procesos generados por el algoritmo de Gillespie y las ecuaciones diferenciales
                    estocásticas en el sentido de Ito.</br></br>

                    Pre-requisitos: Un curso de teoría de probabilidad y un curso de ecuaciones diferenciales,
                    ambos a nivel licenciatura.
                </p>

                <p class="h6">C6: Modelos booleanos para el estudio de procesos biológicos,
                    <em class="h6 text-secondary">
                        Eugenio Azpeitia Espinosa, Centro de Ciencias Matemáticas, UNAM Campus Morelia.
                        José Antonio Sánchez, Universidad Autónoma del Estado de México.</em>

                </p>
                <p style="text-align: justify;">
                    En las últimas décadas, el modelado matemático se ha ido convirtiendo en una herramienta cada vez más
                    empleada en investigación biológica, ya que proporciona una comprensión profunda de los fenómenos bajo
                    estudio. Si bien, tal como se verá en otros cursos de esta escuela, los modelos cuantitativos y continuos,
                    como las ecuaciones diferenciales, se utilizan ampliamente para estudiar una gran variedad de fenómenos,
                    su aplicación se ve limitada cuando enfrentan al menos el siguiente par de situaciones.</br></br>

                    (1) Por un lado, es difícil emplearlos en sistemas donde hay un limitado conocimiento de los detalles
                    mecanísticos y los parámetros cinéticos es escaso.</br></br>

                    (2) Por otra parte, muchas veces son de difícil acceso para estudiantes e investigadores que no
                    provienen del área físico matemática. En estos casos, los enfoques cualitativos, que suelen ser más
                    simples, son sumamente útiles. En el extremo más sencillo del modelado cualitativo se encuentran los
                    modelos booleanos, los cuales han mostrado tener la capacidad de proveer información relevante sobre
                    un fenómeno asumiendo que los elementos del sistema pueden estar únicamente prendidos o apagados.
                    </br></br>
                    En este curso, daremos una introducción al modelo de procesos biológicos por medio de redes booleanas,
                    el cual es apto tanto para matemáticos como biólogos. A lo largo del curso desarrollaremos las bases
                    necesarias para la construcción, análisis y manipulación de los modelos booleanos y veremos ejemplos
                    y alcances de su aplicación.</br></br>

                    Pre-requisitos: Es deseable, pero no indispensable, tener nociones básicas de biología molecular y ecología. Computadora personal con r o python.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal C2-->
<div class="modal fade" id="exampleModalC2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cursos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">C3: Estadística e Inferencia Bayesiana Aplicada al Análisis de Datos, <em class="h6 text-secondary">
                        Nicolas (Nick) Hengartner, Theoretical Biology and Biophysics Group, Los Alamos National Laboratory, Los Alamos, New Mexico, USA</em></p>
                <p style="text-align: justify;">
                    Esta clase ofrece una introducción a la inferencia bayesiana como herramienta fundamental para el
                    análisis de datos. Su objetivo es capacitar a los estudiantes en la estimación de parámetros clave en
                    modelos matemáticos utilizando bases de datos reales, permitiéndoles desarrollar modelos predictivos
                    confiables con una adecuada cuantificación de la incertidumbre. Se cubrirán técnicas estadísticas
                    esenciales y los principios de la inferencia bayesiana, que facilitan la incorporación de información
                    previa y el manejo riguroso de la incertidumbre en los modelos. La clase incluye ejercicios prácticos
                    y casos de estudio que ejemplifican la aplicación de estas técnicas, utilizando por ejemplo el software
                    R.</br></br>
                    Al finalizar, los participantes estarán capacitados para implementar métodos bayesianos en la
                    estimación de parámetros y en el desarrollo de modelos matemáticos aplicados.
                    </br></br>
                    Pre-requisitos: Se requiere conocimiento básicos de teoría de probabilidades, manejo de R y disposición para usar matemáticas.
                    Se espera que los estudiantes utilicen su propia laptop para realizar ejercicios prácticos.
                </p>
                <p class="h6">C5: Niveles biológicos de organización, biodiversidad y ecología de la conducta, <em class="h6 text-secondary">
                        Cisteil Xinum Pérez Hernández y Luis Felipe Mendoza Cuenca, Laboratorio de Ecología de la Conducta,
                        Facultad de Biología, Universidad Michoacana de San Nicolás de Hidalgo, Morelia, Michoacán, México.</em></p>
                <p style="text-align: justify;">
                    En esta clase exploraremos diferentes conceptos básicos en biología y ecología, y métricas para analizar
                    los patrones de la naturaleza y los procesos que los subyacen. Revisaremos las definiciones y jerarquías
                    de los niveles biológicos de organización, de la importancia de entender los niveles para el análisis
                    de sistemas biológicos complejos, y revisaremos ejemplos de modelos matemáticos aplicados a
                    diferentes niveles (2 h). </br></br>
                    Además, exploraremos los conceptos y tipos de biodiversidad: genética, de especies y ecosistémica,
                    y la importancia de la biodiversidad para la estabilidad y resiliencia de los ecosistemas y los factores
                    que afectan esta biodiversidad (ambientales, antropogénicos y su modelación). Cerraremos esta sección
                    con la revisión de estrategias de conservación y análisis de escenarios mediante simulaciones (1 h). </br></br>
                    En la sección de Ecología de la Conducta exploraremos los siguientes temas (3 h):</br></br>
                    Introducción a la ecología conductual: bases evolutivas y ecológicas del comportamiento animal</br>
                    Modelos teóricos relevantes</br>
                    Dinámicas y modelos en ecología sensorial</br>
                    Ejemplos de aplicación de modelos en el análisis de señales de color y sistemas visuales</br>
                    Análisis de toma de decisiones desde la modelación matemática</br></br>
                    Pre-requisitos: conocimientos previos no indispensables ya que revisaremos conceptos básicos de biología
                    y ecología; se solicita que lean los artículos en carpeta de Drive, computadora personal con R instalado
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal C3-->
<div class="modal fade" id="exampleModalC3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cursos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="h6">C4: Identificabilidad estructural y práctica de parámetros, <em class="h6 text-secondary">
                        Gerardo Chowell-Puente, School of Public Health, Georgia State University, Atlanta, Georgia, USA</em></p>
                <p style="text-align: justify;">
                    Este curso introduce conceptos y métodos fundamentales para evaluar la identificabilidad de parámetros
                    en modelos matemáticos, con un enfoque en aplicaciones en epidemiología y campos relacionados.
                    Los temas incluyen la identificabilidad estructural—determinando si los parámetros pueden ser
                    estimados de manera única a partir de datos ideales (libres de ruido)—y la identificabilidad práctica,
                    que considera las limitaciones impuestas por datos del mundo real con ruido. Los estudiantes aprenderán
                    a aplicar herramientas simbólicas y numéricas para evaluar la identificabilidad y explorarán estudios
                    de caso que involucran modelos compartimentales de enfermedades infecciosas. El curso combina
                    teoría con ejercicios computacionales prácticos utilizando software como DAISY,
                    StructuralIdentifiability.jl y BayesianFitForecast toolbox.</br></br>
                    Pre-requisitos: El curso C1 (Modelación matemática y dinámica de fenómenos biológicos)
                </p>
                <p class="h6">C7: Clustering y aprendizaje no supervisado en datos biológicos, <em class="h6 text-secondary">
                        Nelly Selém Mojica y Haydee Contreras Peruyero, Centro de Ciencias Matemáticas, UNAM Campus Morelia.</em></p>
                <p style="text-align: justify;">
                    El crecimiento exponencial de datos biológicos, especialmente en áreas como la genómica y la microbiología,
                    ha generado una demanda urgente por herramientas computacionales que permitan su análisis eficiente.
                    En este contexto, los métodos de inteligencia artificial, particularmente el aprendizaje no supervisado,
                    se han vuelto fundamentales para explorar y descubrir patrones en datos sin necesidad de etiquetas previas.
                    </br></br>

                    En el cuaderno interactivo "Clustering y aprendizaje no supervisado en datos biológicos", desarrollado
                    en Google Colab como parte del primer taller de inteligencia artificial para biólogos en Latinoamérica
                    (organizado por la red CABANA), introducimos a estudiantes a los fundamentos del análisis de datos
                    usando algoritmos de agrupamiento (clustering) aplicados a datos reales del Earth Microbiome Project.
                    El enfoque del cuaderno está centrado en microbiomas de Latinoamérica, una región megadiversa pero
                    aún poco representada en muchos estudios globales. Los estudiantes aprenderán a aplicar algoritmos
                    como k-means y clustering jerárquico, interpretar matrices de distancia, generar dendrogramas y visualizar
                    agrupamientos con técnicas como reducción de dimensionalidad.
                    </br></br>

                    Esta herramienta está diseñada para ser accesible, práctica y relevante, permitiendo a estudiantes de
                    licenciatura explorar el potencial de la inteligencia artificial aplicada a la biología.
                    ¡Los invitamos a participar en esta experiencia única durante nuestra próxima escuela de invierno!</br></br>

                    Pre-requisitos: Una computadora, no requiere software porque usaremos google colab.
                    Tampoco requieren nivel de programación, ni conceptos biológicos, empezaremos de cero.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{{ form_widget(form) }}


{{ form_end(form) }}

    {% block javascripts %}
        <script>
            function setMaxLength(id, max) {
                document.getElementById(id).maxLength = max;
            }

            function attachCounter(inputId, counterId, maxLength) {
                const inputEle = document.getElementById(inputId);
                const counterEle = document.getElementById(counterId);

                ["click", "input"].forEach((event) => {
                    inputEle.addEventListener(event, function (e) {
                        const currentLength = e.target.value.length;
                        counterEle.innerHTML = `${currentLength}/${maxLength}`;

                        if (currentLength < 300) {
                            counterEle.style.color = "red";
                        } else if (currentLength >= 300 && currentLength <= maxLength) {
                            counterEle.style.color = "green";
                        } else {
                            counterEle.style.color = "black";
                        }
                    });
                });
            }

            // Apply to your fields
            setMaxLength("registro_razones", 2000);
            attachCounter("registro_razones", "counter", 2000);

            setMaxLength("registro_tituloposter", 1000);
            attachCounter("registro_tituloposter", "counter2", 1000);
        </script>
        <script>
            const posterField = document.getElementById("registro_poster");
            const tituloPosterField = document.getElementById("registro_tituloposter");

            function toggleTituloPoster() {
                if (posterField.value === "Sí") {
                    tituloPosterField.removeAttribute("disabled");
                } else {
                    tituloPosterField.setAttribute("disabled", "true");
                    tituloPosterField.value = ""; // clear when disabled
                }
            }

            // Run on load
            toggleTituloPoster();

            // Run when user changes poster field
            posterField.addEventListener("change", toggleTituloPoster);
        </script>
    {% endblock %}
