{% extends 'base.html.twig' %}

{% block title %}Aceptados{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        {% set hombres = 0 %}
        {% set mujeres = 0 %}
        {% set recomendados = 0 %}
        {% set alimentacion = 0 %}
        {% set hospedaje = 0 %}
        {% set sinbeca = 0 %}
        {% set hospyalim = 0 %}
        {% set transporte = 0 %}
        {% set aceptados = 0 %}
        {% set noaceptados = 0 %}
        {% set confirmados = 0 %}

        {% set edobasico = 0 %}
        {% set edono = 0 %}
        {% set edointer = 0 %}
        {% set edoavanza = 0 %}

        {% for registro in registros %}
            {% if registro.edo == 'Básico' %}
                {% set edobasico = edobasico + 1 %}
            {% elseif registro.edo == 'No' %}
                {% set edono = edono + 1 %}
            {% elseif registro.edo == 'Intermedio' %}
                {% set edointer = edointer + 1 %}
            {% elseif registro.edo == 'Avanzado' %}
                {% set edoavanza = edoavanza + 1 %}
            {% endif %}
        {% endfor %}

        {% set pybasico = 0 %}
        {% set pyno = 0 %}
        {% set pyinter = 0 %}
        {% set pyavanza = 0 %}

        {% for registro in registros %}
            {% if registro.python == 'Básico' %}
                {% set pybasico = pybasico + 1 %}
            {% elseif registro.python == 'No' %}
                {% set pyno = pyno + 1 %}
            {% elseif registro.python == 'Intermedio' %}
                {% set pyinter = pyinter + 1 %}
            {% elseif registro.python == 'Avanzado' %}
                {% set pyavanza = pyavanza + 1 %}
            {% endif %}
        {% endfor %}

        {% set rbasico = 0 %}
        {% set rno = 0 %}
        {% set rinter = 0 %}
        {% set ravanza = 0 %}

        {% for registro in registros %}
            {% if registro.r == 'Básico' %}
                {% set rbasico = rbasico + 1 %}
            {% elseif registro.r == 'No' %}
                {% set rno = rno + 1 %}
            {% elseif registro.r == 'Intermedio' %}
                {% set rinter = rinter + 1 %}
            {% elseif registro.r == 'Avanzado' %}
                {% set ravanza = ravanza + 1 %}
            {% endif %}
        {% endfor %}

        {% set matbasico = 0 %}
        {% set matno = 0 %}
        {% set matinter = 0 %}
        {% set matavanza = 0 %}

        {% for registro in registros %}
            {% if registro.matlab == 'Básico' %}
                {% set matbasico = matbasico + 1 %}
            {% elseif registro.matlab == 'No' %}
                {% set matno = matno + 1 %}
            {% elseif registro.matlab == 'Intermedio' %}
                {% set matinter = matinter + 1 %}
            {% elseif registro.matlab == 'Avanzado' %}
                {% set matavanza = matavanza + 1 %}
            {% endif %}
        {% endfor %}

        {% set estbasico = 0 %}
        {% set estno = 0 %}
        {% set estinter = 0 %}
        {% set estavanza = 0 %}

        {% for registro in registros %}
            {% if registro.estadistica == 'Básico' %}
                {% set estbasico = estbasico + 1 %}
            {% elseif registro.estadistica == 'No' %}
                {% set estno = estno + 1 %}
            {% elseif registro.estadistica == 'Intermedio' %}
                {% set estinter = estinter + 1 %}
            {% elseif registro.estadistica == 'Avanzado' %}
                {% set estavanza = estavanza + 1 %}
            {% endif %}
        {% endfor %}


        {% set infsi = 0 %}
        {% set infno = 0 %}


        {% for registro in registros %}
            {% if registro.inferencia == true or registro.inferencia == 'Sí' %}
                {% set infsi = infsi + 1 %}
            {% else %}
                {% set infno = infno + 1 %}
            {% endif %}
        {% endfor %}

        {% for registro in registros %}
            {% if registro.sexo == 'Hombre' %}
                {% set hombres = hombres + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.sexo == 'Mujer' %}
                {% set mujeres = mujeres + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.recomendacion == true or registro.cartaName == true%}
                {% set recomendados = recomendados + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.beca == 'Solamente alimentación' %}
                {% set alimentacion = alimentacion + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.beca == 'Solamente hospedaje' %}
                {% set hospedaje = hospedaje + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.beca == 'Hospedaje y alimentación' %}
                {% set hospyalim = hospyalim + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.beca == 'Sin beca' %}
                {% set sinbeca = sinbeca + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.aceptado == true %}
                {% set aceptados = aceptados + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.aceptado == false %}
                {% set noaceptados = noaceptados + 1 %}
            {% endif %}
        {% endfor %}
        {% for registro in registros %}
            {% if registro.confirmado == true %}
                {% set confirmados = confirmados + 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <button type="button" class="btn btn-light mb-5 ">
            Mujeres <span class="badge bg-dark">{{ mujeres }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            Hombres <span class="badge bg-dark">{{ hombres }}</span>
        </button>

        <button type="button" class="btn btn-light mb-5 ">
            Solo hosp. <span class="badge bg-dark">{{ hospedaje }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            Solo alim. <span class="badge bg-dark">{{ alimentacion }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            <a href="{{ path('app_registro_hospedaje') }}">Hosp. y alim.</a>
            <span class="badge bg-dark">{{ hospyalim }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            Sin beca <span class="badge bg-dark">{{ sinbeca }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            <a href="{{ path('app_registro_noaceptados') }}">No aceptados</a>
            <span class="badge bg-dark">{{ noaceptados }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            Confirmados <span class="badge bg-dark">{{ confirmados }}</span>
        </button>
        <button type="button" class="btn btn-light mb-5 ">
            <a href="{{ path('app_registro_index') }}">Todos los registros</a>
        </button>
        <button type="button" class="btn btn-light mb-5 " data-bs-toggle="modal" data-bs-target="#exampleModal">
            <u>Correos registrados</u> <span class="badge bg-primary">{{ registros|length }}</span>
        </button>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Correos registrados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% set total = 0 %}
                    {% for registro in registros %}
                        {{registro.mail}}
                        {% if not loop.last %},{% endif %}
                        {%if total == 50 or total == 100 or total== 150
                            or total == 200 or total == 250 or total == 300 %}
                            <hr>
                        {%endif %}
                        {% set total = total + 1 %}
                    {% endfor %}

                    <p>
                        <br> {{ total }} correos
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Registros NO aceptados</h4><br>

    <table id="example" class="mt-5 table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Edad (años)</th>
            <th>Mail</th>
            <th>Procedencia</th>
            <th>Carrera</th>
            <th>Semestre</th>
            <th>Porcentaje</th>
            <th>Profesor</th>
            <th>Promedio</th>
            <th>Confirmado</th>
            <th>Restricciones alim.</th>
            <th>Beca</th>
            <th>Recomendado</th>
            <th>Aceptado</th>
        </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            {% set edad = date().diff(date(registro.nacimiento)).y %}
            <tr>
                <td><a href="{{ path('app_registro_show', {'slug': registro.slug}) }}">{{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}</a></td>
                <td>{{ registro.sexo }}</td>
                <td class="text-center">{{ edad }}</td>
                <td>{{ registro.mail }}</td>
                <td>{{ registro.procedencia }}</td>
                <td>{{ registro.carrera }}</td>
                <td>{{ registro.semestre }}</td>
                <td>{{ registro.porcentaje }}</td>
                <td>{{ registro.profesor }}</td>
                <td>{{ registro.promedio }}</td>
                <td class="text-center">
                {% if registro.confirmado == true %}
                    <span class="badge bg-primary"> {{ "Sí" }}</span>
                {% else %}
                    <span class="badge bg-secondary"> {{"No"}}</span>
                {% endif %}
                </td>
                <td>{{ registro.restricciones }}</td>

                <td>{{ registro.beca }}</td>
                <td class="text-center">
                    {% if registro.recomendacion != null or registro.cartaName != null %}
                        <span class="badge bg-primary center"> {{ "Sí" }}</span>
                    {% else %}
                        <span class="badge bg-secondary center"> {{"No"}}</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if registro.aceptado == true %}
                        <span class="badge bg-primary"> {{ "Sí" }}</span>
                    {% else %}
                        <span class="badge bg-secondary"> {{"No"}}</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>




    <div class="container-fluid mt-5 mb-5">
        <hr>
        <p class="h4 mb-5">Formación y conocimientos previos</p>

        <div class="row">
            <div class="col-2">
                <h3>EDO</h3>
                <canvas id="experienceEDO"></canvas>
            </div>
            <div class="col-2">
                <h3>Python</h3>
                <canvas id="experiencePy"></canvas>
            </div>
            <div class="col-2">
                <h3>R</h3>
                <canvas id="experienceR"></canvas>
            </div>
            <div class="col-2">
                <h3>Matlab</h3>
                <canvas id="experienceMatlab"></canvas>
            </div>
            <div class="col-2">
                <h3>Estadística</h3>
                <canvas id="experienceEst"></canvas>
            </div>
            <div class="col-2">
                <h3>Inferencia</h3>
                <canvas id="experienceInf"></canvas>
            </div>
        </div>
    </div>

    <script>
        const dataFromEdo = {
            "No tengo experiencia": {{ edono|default(0) }},
            "Básico": {{ edobasico|default(0) }},
            "Intermedio": {{ edointer|default(0) }},
            "Avanzado": {{ edoavanza|default(0) }}
        };

        const ctx1 = document.getElementById('experienceEDO').getContext('2d');
        new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromEdo),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromEdo),
                    backgroundColor: [
                        '#ff6384',
                        '#36a2eb',
                        '#ffcd56',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        const dataFromPy = {
            "No tengo experiencia": {{ pyno|default(0) }},
            "Básico": {{ pybasico|default(0) }},
            "Intermedio": {{ pyinter|default(0) }},
            "Avanzado": {{ pyavanza|default(0) }}
        };

        const ctx2 = document.getElementById('experiencePy').getContext('2d');
        new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromPy),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromPy),
                    backgroundColor: [
                        '#ff6384',
                        '#36a2eb',
                        '#ffcd56',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        const dataFromR = {
            "No tengo experiencia": {{ rno|default(0) }},
            "Básico": {{ rbasico|default(0) }},
            "Intermedio": {{ rinter|default(0) }},
            "Avanzado": {{ ravanza|default(0) }}
        };

        const ctx3 = document.getElementById('experienceR').getContext('2d');
        new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromR),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromR),
                    backgroundColor: [
                        '#ff6384',
                        '#36a2eb',
                        '#ffcd56',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        const dataFromMatlab = {
            "No tengo experiencia": {{ matno|default(0) }},
            "Básico": {{ matbasico|default(0) }},
            "Intermedio": {{ matinter|default(0) }},
            "Avanzado": {{ matavanza|default(0) }}
        };

        const ctx4 = document.getElementById('experienceMatlab').getContext('2d');
        new Chart(ctx4, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromMatlab),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromMatlab),
                    backgroundColor: [
                        '#ff6384',
                        '#36a2eb',
                        '#ffcd56',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        const dataFromEst = {
            "No tengo experiencia": {{ estno|default(0) }},
            "Básico": {{ estbasico|default(0) }},
            "Intermedio": {{ estinter|default(0) }},
            "Avanzado": {{ estavanza|default(0) }}
        };

        const ctx5 = document.getElementById('experienceEst').getContext('2d');
        new Chart(ctx5, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromEst),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromEst),
                    backgroundColor: [
                        '#ff6384',
                        '#36a2eb',
                        '#ffcd56',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

    <script>
        const dataFromInf = {
            "No": {{ infno|default(0) }},
            "Sí": {{ infsi|default(0) }}

        };

        const ctx6 = document.getElementById('experienceInf').getContext('2d');
        new Chart(ctx6, {
            type: 'pie',
            data: {
                labels: Object.keys(dataFromInf),
                datasets: [{
                    label: 'Registros',
                    data: Object.values(dataFromInf),
                    backgroundColor: [
                        '#ff6384',
                        '#4bc0c0'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script type="application/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>


{% endblock %}